/*universal styles*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Manrope", sans-serif;
	font-size: 13px;
}

/*container styles */
.container {
	display: flex;
	min-height: 100vh;
	width: 100%;
	background-color: hsl(210, 46%, 95%);
	padding: 30px;
	place-items: center;
}

.card {
	border-radius: 12px;
	height: 100%;
	display: flex;
	flex-direction: column;
	max-width: 450px;
	margin: 0 auto;
	text-align: left;
	justify-content: left;
	background-color: white;
	margin-top: 3rem;
	box-shadow: 5px 3px 7px -2px hsl(212, 23%, 69%);
	position: relative;
}

.card-img {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	overflow: hidden;
	width: 100%;
}
.card-img img {
	width: 100%;
}

.card-body {
	display: grid;
	grid-template-rows: 1fr auto;
}
.card-text {
	padding: 2.5rem;
}

.card-text h1 {
	font-size: 20px;
	font-weight: 700;
	color: hsl(217, 19%, 35%);
	font-stretch: extra-expanded;
	line-height: 2rem;
	padding-bottom: 2rem;
}

p {
	color: hsl(214, 17%, 51%);
	font-stretch: expanded;
	line-height: 2rem;
	font-weight: 500;
	font-size: 16px;
}
/*info styles */
.info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	/* border: 1px solid black; */
	/* padding: 20px 2.5rem; */
}

/*info static styles*/

.avatar {
	height: 50px;
	border-radius: 50%;
}

.author {
	display: flex;
	flex-direction: row;
}
p.name {
	color: hsl(217, 19%, 35%);
	font-weight: 700;
	font-stretch: expanded;
	padding-left: 20px;
}

p.name span {
	color: hsl(214, 17%, 51%);
	font-weight: 700;
}
/* info - active styles*/
#active {
	background-color: hsl(217, 19%, 35%);
	position: absolute;
	bottom: 0;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	width: 100%;
	visibility: hidden;
}

#active p {
	font-weight: 700;
	letter-spacing: 5px;
	color: hsl(212, 23%, 69%);
}

.socials {
	display: flex;
	flex-direction: row;
}
.socials img {
	padding: 0.6rem;
	height: 35px;
}

.share {
	border-radius: 50%;
	background-color: hsl(210, 46%, 95%);
	/* border: 1px black solid; */
}

img.share {
	padding: 5px;
	height: 20px;
}

@media only screen and (min-width: 1025px) {
	.card {
		flex-direction: row;
		max-width: 70%;
		max-height: 350px;
	}

	.card-img {
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		border-top-right-radius: 0px;
	}
	.card-img img {
		min-height: 100%;
		object-fit: cover;
	}

	.card-body {
		overflow: visible;
	}

	#active {
		bottom: 80px;
		width: 35%;
		left: 80%;
		border-radius: 15px;
		min-width: fit-content;
		padding: 1rem 2rem;
		transform: translateX(-10%);
	}

	#active.info::after {
		content: "";
		position: absolute;
		bottom: -5px;
		left: 50%;
		width: 20px;
		height: 20px;
		background: hsl(217, 19%, 35%);
		transform: rotate(45deg);
	}
	.active.share {
		display: none;
	}
}
.attribution {
	font-size: 11px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
